:host {
  ::ng-deep {
    .detail-offre {
      .row {
        width: 100%;
      }

      .header {
        background: #f5f5f5;

        .offre-titre span {
          font-size: 3rem;
        }
      }

      .container .row {
        .label {
          font-size: 13px;
        }

        .description {
          max-height: 2000px;
        }
      }
    }
  }
}
