<p-menubar>
  <ng-template pTemplate="start">
    <a href="/">
      <img src="assets/img/logo.jpg" alt="logo" width="100"/>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="grid">
      <button pButton class="btn-secondary mx-2"  (click)="goToConnexion()" *ngIf="isUtilisateurConnecte() || (!isUtilisateurConnecte() && !isLogin())">
        <em class="mr-1 fa" [ngClass]="{'fa-sign-in': !isUtilisateurConnecte(), 'fa-sign-out': isUtilisateurConnecte()}"></em>
        {{ !isUtilisateurConnecte() ? 'Connexion' : 'Déconnexion' }}
      </button>
<!--      <a href="https://www.tesla.com/"-->
<!--         target="_blank"-->
<!--         class="link-primary mx-2">-->
<!--        <em class="fa fa-external-link mr-1"></em>Entreprise-->
<!--      </a>-->
    </div>
  </ng-template>
</p-menubar>

<router-outlet></router-outlet>

<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-section solutions">
      <h4>NOS SOLUTIONS</h4>
      <p>ABJobs</p>
    </div>
    <div class="footer-section contact">
      <h4>NOS CONTACTS</h4>
      <p>Abidjan Cocody, En face de la pharmacie sainte famille</p>
    </div>
  </div>
</footer>



